{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Account</h5>
        <div class="card-body">
            <p class="card-text">
		Log in to comment on the plan. 
		<!--User log in details-->
   	{% if user.is_authenticated %}
     	<li>User: {{ user.get_username }}</li>
     	<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   	{% else %}
     	<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   	{% endif %} 
  </ul>
</p>
            <a href="#" class="btn btn-danger">Register / account</a>
        </div>
    </div>
</div>

{% endblock sidebar %}